<a href="https://colab.research.google.com/github/NagabhushanReddyNasolla/Linear-Regression/blob/main/Spark_basics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: !pip install pyspark

!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.appName('Spark_test_App').getOrCreate()

In [6]:
data =[
    (100,"emp_name1"),
    (101,"emp_name2"),
    (102,"emp_name3"),
    (103,"emp_name4"),
    (104,"emp_name5"),
]

In [7]:
columns =['emp_id',"emp_name"]

In [8]:
df = spark.createDataFrame(data=data,schema = columns)

In [9]:
df.show()

+------+---------+
|emp_id| emp_name|
+------+---------+
|   100|emp_name1|
|   101|emp_name2|
|   102|emp_name3|
|   103|emp_name4|
|   104|emp_name5|
+------+---------+